[Unit]
Description=NexusOS GPU Profiler
After=multi-user.target
Wants=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /opt/nexusos/core/hardware-adapter/gpu/gpu-profiler.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
